.biz-idx-main {
  display: flex;
  width: 990px;
  margin: 15px auto;
  background: none;
}

.index-li > * {
  padding: 10px;
}

.index-li ul {
  padding: 0;
}

.index-li, .index-li img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #e6e6e6;
}

.img-list {
  width: 210px;
  height: 210px;
  border-radius: 5px;
  margin: 0;
  border: 10px solid white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("http://bailieproperty.com/54441513092018/shared/module/style/no-image.png")
}
.img-list li img {
  width: 210px;
  height: 210px;
  border-radius: 5px;
  margin: 0;
}

.index-li .index-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.business-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.businessId p a {
  font-size: 16px;
  font-weight: 600;
  color:#0073bb;
}
.all-five-rates {
  display: flex;
}
.avg-rating::after {
  content: '\f005';
  font-family: FontAwesome;
  color: white;
  background-color: #f15c4e;
  padding: 2px;
  margin: 1px;
  border-radius: 1px;
}

.business-content {
  width: 100px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.business-content p {
  text-align: right;
  margin: 0;
}

.all-five-rates span {
  margin-left: 5px;
}

.p-info-catg {
  display: flex;
  justify-content: flex-start;
}

.p-info-catg p{
  margin-right: 5px;
}
